*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Helvetica;
    color: #323232;
    border: none;
}

.title {
    font-weight: 600;
    margin: 20px 0px;
}

.logo {
    margin: 20px 0px;

}